{% extends  'base.html' %}
{% load static %}
{% block main %}
    <div class="container pt-3 {% if not button %}text-muted{% endif %}">

        <!--Отображение задачи-->
        {% if task and user.id not in id_puple_correct_answers and count_right_answers < task.count_answer %}
            <p class="font-weight-light text-right text-muted">{{ end_time }}</p>
            <h2 class="text-left font-weight-light pt-3">Задача дня</h2>
            <h2 class="text-center font-weight-light">{{ task.name }}</h2>
            <hr>
            {% autoescape off %}
                {{ task.discription_task }}
            {% endautoescape %}
            <hr>
            <h4 class="font-weight-light">Ответ:</h4>
            <form method="post">{% csrf_token %}
                <input type="text"
                       class="form-control text-left"
                       name="result" placeholder="Внесите ответ на задачу"
                       onkeydown="if(event.keyCode==13){return false;}">
                <p class="text-danger font-weight-bold">{{ mistake }}</p>
                <button class="btn {% if button %}btn-success mt-3"{% else %}btn-secondary mt-3" disabled{% endif %}
                type="submit">{% if button %}{{ button }}{% else %}Попытки закончились{% endif %}</button>

            </form>
            <div class="container mt-3 text-muted">
                <p class="font-weight-light text-right">Количество человек, которые могут решить
                    задачу: {{ task.count_answer }} </p>
                <p class="font-weight-light text-right">Максимальный балл за задачу: {{ task.score }} </p>
                <p class="font-weight-light text-right">Совершено попыток: {{ tries }} </p>
            </div>


            <!--Отображение экрана давшего правильный ответ-->
        {% elif user.id in id_puple_correct_answers %}
            <h4 class="font-weight-light">Задача решена верно.</h4>
            <hr>
            <p class="font-weight-light">В твой профиль автоматически добавлено мероприятие с данной
                задачей.<br> Твой рейтинг пересчитался автоматически.</p>
            <p class="font-weight-light"> Количество верных решений: {{ count_right_answers }}</p>
            <br>
            <p class="font-weight-light"> На данную задачу правильно дали ответ:</p>
            <p class="font-weight-light"><strong>{% for list_tuple_surname_name in list_name_right_answers %}
                {% for tuple_surname_name in list_tuple_surname_name %}
                    {{ tuple_surname_name }}
                {% endfor %}
                <br>
            {% endfor %}
            </strong></p>
            <br>
            <p class="font-weight-light">Очень скоро появится новая задача</p>
            <a href="/account/">
                <button type="button" class="btn btn-secondary mt-3">Перейти в свой профиль</button>
            </a>

            <!--Отображение экрана при максимальном количестве ответивших-->
        {% elif not user.is_superuser and count_right_answers == task.count_answer and task %}
            <h4 class="font-weight-light">Задача решена максимальным количеством человек.</h4>
            <hr>
            <p class="font-weight-light"> Количество верных решений: {{ count_right_answers }}</p>
            <br>
            <p class="font-weight-light"> На данную задачу правильно дали ответ:</p>
            <p class="font-weight-light"><strong>{% for list_tuple_surname_name in list_name_right_answers %}
                {% for tuple_surname_name in list_tuple_surname_name %}
                    {{ tuple_surname_name }}
                {% endfor %}
                <br>
            {% endfor %}
            </strong></p>
            <br>
            <p class="font-weight-light">Очень скоро появится новая задача</p>

            <!--Отображение экрана администратора-->
        {% elif user.is_superuser %}
            <h2 class="font-weight-light">Задача дня (учитель)</h2>
            <hr>
            <h4 class="font-weight-light text-dark">Активные задачи</h4>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col" class="font-weight-light">Дата публикации</th>
                    <th scope="col" class="font-weight-light">Название задачи</th>
                    <th scope="col" class="font-weight-light">Уровень задачи</th>
                    <th scope="col" class="font-weight-light">Решили задачу</th>
                </tr>
                </thead>
                <tbody>
                {% for task, list_success in tasks_active_teacher %}
                    <tr class="tasks-active-teacher__row">
                        <th scope="row" class="font-weight-light align-middle">{{ task.date }}</th>
                        <td class="font-weight-light align-middle">{{ task.name }}</td>
                        <td class="font-weight-light align-middle">{{ task.get_status_task_display }}</td>
                        <td class="font-weight-light align-middle d-flex justify-content-between">
                            <div class="solved-task__puples">
                                {% for i in list_success %}<a href="/statistic/pupil/{{ i.id }}"
                                                              class="text-muted">{{ i.surname }} {{ i.name }}</a>
                                    <br>{% endfor %}
                            </div>
                            <div class="daytask_edit_buttons">
                                <a href="edit/{{ task.id }}" class="tasks-active-teacher__row__edit-btn">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil"
                                         fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                              d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                    </svg>
                                </a>
                                <a href="show/{{ task.id }}" class="tasks-active-teacher__row__edit-btn pl-2">
                                    <svg width="1.2em" height="1.2em" viewBox="0 0 16 16" class="bi bi-eye"
                                         fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                              d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.134 13.134 0 0 0 1.66 2.043C4.12 11.332 5.88 12.5 8 12.5c2.12 0 3.879-1.168 5.168-2.457A13.134 13.134 0 0 0 14.828 8a13.133 13.133 0 0 0-1.66-2.043C11.879 4.668 10.119 3.5 8 3.5c-2.12 0-3.879 1.168-5.168 2.457A13.133 13.133 0 0 0 1.172 8z"/>
                                        <path fill-rule="evenodd"
                                              d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                                    </svg>
                                </a>
                                <a href="#" class="tasks-active-teacher__row__edit-btn pl-2">
                                    <svg width="1.05em" height="1.05em" viewBox="0 0 16 16" class="bi bi-trash"
                                         fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                        <path fill-rule="evenodd"
                                              d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                    </svg>
                                </a>
                                {% include "daytask/modal_remove.html" %}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            {% if not tasks_active_teacher %}
                <p class="font-weight-light text-muted text-center">Нет активных задач</p>
            {% endif %}
            <div class="container text-right">
                <a href="add/">
                    <button type="button" class="btn btn-secondary rounded-circle align-right"
                            style="width: 50px; height: 50px; font-size: 22px;"> +
                    </button>
                </a>
            </div>
            <h4 class="font-weight-light text-muted content_toggle_future">Предстоящие задачи</h4>
            <table class="table text-muted content_block_table_future">
                <thead>
                <tr>
                    <th scope="col" class="font-weight-light">Дата публикации</th>
                    <th scope="col" class="font-weight-light">Название задачи</th>
                    <th scope="col" class="font-weight-light">Уровень задачи</th>
                </tr>
                </thead>
                <tbody>
                {% for task, list_success in tasks_fiture_teacher %}
                    <tr class="tasks-active-teacher__row">
                        <th scope="row" class="font-weight-light align-middle">{{ task.date }}</th>
                        <td class="font-weight-light align-middle">{{ task.name }}</td>
                        <td class="font-weight-light align-middle d-flex justify-content-between">
                            {{ task.get_status_task_display }}
                            <div class="daytask_edit_buttons">
                                <a href="edit/{{ task.id }}" class="tasks-active-teacher__row__edit-btn"
                                   style="text-decoration: none;">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil"
                                         fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                              d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                    </svg>
                                </a>
                                <a href="show/{{ task.id }}" class="tasks-active-teacher__row__edit-btn pl-2 tex"
                                   style="text-decoration: none;">
                                    <svg width="1.2em" height="1.2em" viewBox="0 0 16 16" class="bi bi-eye"
                                         fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                              d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.134 13.134 0 0 0 1.66 2.043C4.12 11.332 5.88 12.5 8 12.5c2.12 0 3.879-1.168 5.168-2.457A13.134 13.134 0 0 0 14.828 8a13.133 13.133 0 0 0-1.66-2.043C11.879 4.668 10.119 3.5 8 3.5c-2.12 0-3.879 1.168-5.168 2.457A13.133 13.133 0 0 0 1.172 8z"/>
                                        <path fill-rule="evenodd"
                                              d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                                    </svg>
                                </a>
                                <a href="#" class="tasks-active-teacher__row__edit-btn pl-2" data-toggle="modal"
                                        data-target="#exampleModal"
                                   style="text-decoration: none;">
                                    <svg width="1.05em" height="1.05em" viewBox="0 0 16 16" class="bi bi-trash"
                                         fill="currentColor">
                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                        <path fill-rule="evenodd"
                                              d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                    </svg>
                                </a>
                            </div>

                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <h4 class="font-weight-light text-muted content_toggle">Архивные задачи</h4>
            <table class="table text-muted content_block_table">
                <thead>
                <tr>
                    <th scope="col" class="font-weight-light">Дата публикации</th>
                    <th scope="col" class="font-weight-light">Название задачи</th>
                    <th scope="col" class="font-weight-light">Уровень задачи</th>
                    <th scope="col" class="font-weight-light">Решили задачу</th>
                </tr>
                </thead>
                <tbody>
                {% for task, list_success in tasks_last_teacher %}
                    <tr>
                        <th scope="row" class="font-weight-light align-middle">{{ task.date }}</th>
                        <td class="font-weight-light align-middle">{{ task.name }}</td>
                        <td class="font-weight-light align-middle">{{ task.get_status_task_display }}</td>
                        <td class="font-weight-light align-middle">
                            {% for i in list_success %}<a href="/statistic/pupil/{{ i.id }}"
                                                          class="text-muted">{{ i.surname }} {{ i.name }}</a>
                                <br>{% endfor %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <!--Отображение экрана нет задачи-->
        {% else %}
            <p class="font-weight-light text-muted text-center">В данный момент нет активных задач для решения. <br>
                Очень скоро задача появится.</p>
        {% endif %}
    </div>
{% endblock %}
{% block detail_active_task %} active{% endblock %}