{% load crispy_forms_tags %}
{% block main %}
    {% load static %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
    <div class="messages-container" style="position:fixed;width: 85%;top: 4%; left: 7.5%; z-index: 9999">

    </div>

    {% if puples.email != "" and puples.phone != "" or user.is_superuser %}
        <div class="container-xl my-4 bg-light">
        <div class="row">
            <div class="col-12 col-xl-3 col-lg-3 col-md-3 col-sm-12">
                <h3 class="my-3">
                    {{ puples.name }} {{ puples.surname }}
                </h3>
                <img src="{{ puples.image.url }}" class="img-fluid rounded">
                {% if puples.image.url == "/media/puples_photo/user-2.png" %}
                    <p class="font-weight-light text-danger bg-light mt-3">Добавьте фотографию профиля</p>{% endif %}
                <div class="row py-2">
                    <!--                <div class="col-12 text-left"><a class="text-dark disabled" href="#">редактировать фотографию</a></div>-->
                    <div class="col-12"><a href="/statistic/pupil/{{ puples.pk }}/img-change/"
                                           class="btn btn-block btn-info btn-sm" role="button">
                        {% if puples.image.url != "/media/puples_photo/user-2.png" %}Изменить{% else %}
                            Добавить{% endif %} фотографию
                        профиля</a></div>
                    <div class="col pt-1"><a href="/password-change/" class="btn btn-block btn-info btn-sm"
                                             role="button">Изменить
                        пароль учетной записи</a>
                    </div>
                </div>

                <p class="font-weight-light text-muted mb-0" style="font-size: 12px !important;">
                    Моя почта: <span class="puples_detail_email">{{ puples.email }}</span>
                    <a class="puples_detail_change_email__edit-pencil"
                       style="padding-left: 5px;color: CurrentColor;cursor:pointer;">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil" fill="currentColor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                        </svg>
                    </a>
                </p>
                <div class="input-group my-2 puples_detail_change_email">
                    <input type="hidden" name="edit_data" value="email">
                    <input type="email" name="email" class="form-control"
                           style="border-radius: 0.25rem;border-top-right-radius: 0;border-bottom-right-radius: 0;font-size: 0.875em;"
                           pattern="^([a-z0-9_-]+\.)*[a-z0-9_-]+@[a-z0-9_-]+(\.[a-z0-9_-]+)*\.[a-z]{2,6}$"
                           placeholder="Новый email" autocomplete="on" maxlength="150" aria-label="email">
                    <div class="input-group-append">
                        <input class="btn btn-info puples_detail_change_email__commit-btn" style="font-size: 0.875em;"
                               type="submit" value="Изменить">
                    </div>
                </div>

                <p class="font-weight-light text-muted mb-0" style="font-size: 12px !important;">
                    Мой телефон: <span class="puples_detail_tel">{{ puples.phone }}</span>

                    <a class="puples_detail_change_tel__edit-pencil"
                       style="padding-left: 5px;color: CurrentColor;cursor:pointer;">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil" fill="currentColor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                        </svg>
                    </a>
                </p>
                <div class="input-group my-2 puples_detail_change_tel">
                    <input type="hidden" name="edit_data" value="tel">
                    <input type="tel" name="tel" class="form-control"
                           pattern="^((8|\+7)[\- ]?)?(\(?\d{3}\)?[\- ]?)?[\d\- ]{7,10}$" placeholder="Новый номер"
                           style="border-radius: 0.25rem;border-top-right-radius: 0;border-bottom-right-radius: 0;font-size: 0.875em;"
                           autocomplete="on" maxlength="20" aria-label="tel">
                    <div class="input-group-append">
                        <input class="btn btn-info puples_detail_change_tel__commit-btn" style="font-size: 0.875em;"
                               type="submit" value="Изменить">
                    </div>
                </div>

                <a href="https://t.me/joinchat/AAAAAFJI5PL5wZKFKSr4Fw" class="navbar-brand text-muted font-weight-light"
                   style="font-size: 12px;"><img class="img-fluid mr-2"
                                                 style="width: 18px; height:18px;"
                                                 src="{% static '/images/telegram.png' %}">Присоедениться к
                    телеграм
                    каналу</a>
            {% if active_task %}
             <h5 class="font-weight-light pt-3">Мероприятия:</h5>
                {% for task in active_task %}

                    <div class="card my-3" style="width: 100%;">
                        <div class="card-body">
                            <h5 class="card-title font-weight-light">{{ task.name }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted font-weight-light">{{ task.date }}</h6>
                            <p class="card-text" style="font-size: 9px;">{{ task.discription|truncatewords:30 }}</p>
                            <a href="{{ task.link }}" class="card-link" style="font-size: 10px">Подробней</a>
                        </div>
                    </div>
                {% endfor %}
                {% endif %}
            </div>
            <div class="col">
                <div class="row">
                    <h3 class="pt-3 col-12 col-lg-8">
                        {% if puples.status != "APP" %}Список посещенных
                            мероприятий{% else %}
                            Вступительные испытания{% endif %}
                    </h3>

                    <p class="font-weight-light text-right mt-2 col">Статус: {{ puples.get_status_display }}</p>

                </div>
                {% if puples.status != "APP" %}
                    <table class="table table-sm text-center my-4">
                        <thead class="thead text-center">
                        <tr>
                            <th class="text-left">Дата посещения</th>
                            <th class="text-left">Название</th>
                            <th class="d-none d-sm-block">Организатор</th>
                            <th>Баллы</th>
                            <th>Документ</th>
                        </tr>
                        </thead>
                        {% for event in allevents %}
                            <tr {% if event.check is False %} class="alert-warning"{% endif %}>
                                <td class="align-middle">{{ event.date }} {% if event.check is False %}
                                    <p class="alert-warning">На модерации</p>{% endif %}</td>
                                <td class="text-left align-middle">{{ event.name }}</td>
                                <td class="text-left align-middle text-center d-none d-sm-block">{{ event.organization }}</td>
                                <td class="text-left align-middle text-center">{{ event.event_rate }}</td>
                                <td class="text-center align-middle">
                                    <form method="post" action="{% url 'verification_file_download' %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="file_base_dir" value="{{ event.verification_file }}">
                                        <input type="hidden" name="usr_pk" value="{{ puples.user.pk }}">
                                        <button type="submit" class="btn btn-outline-success">Скачать</button>
                                    </form>
                                </td>
                            </tr>

                        {% endfor %}
                    </table>
                    <hr>
                    <p class="pt-3 col-12 col-lg-8 font-weight-light text-muted content_toggle_future">
                        {% if puples.status != "APP" %}Список решенных
                            задач дня{% endif %}
                    </p>
                    <table class="table table-sm text-center my-4 content_block_table_future">
                        <thead class="thead text-center">
                        <tr>
                            <th class="text-left">Дата задачи</th>
                            <th class="text-left">Название</th>
                            <th>Баллы</th>
                        </tr>
                        </thead>
                        {% for event in alldaytasks %}
                            <tr {% if event.check is False %} class="alert-warning"{% endif %}>
                                <td class="align-left text-left">{{ event.date }} {% if event.check is False %}
                                    <p class="alert-warning">На модерации</p>{% endif %}</td>
                                <td class="text-left align-middle">{{ event.name }}</td>
                                <td class="text-left align-middle text-center">{{ event.event_rate }}</td>
                            </tr>

                        {% endfor %}
                    </table>
                    <a class="btn btn-info btn-lg btn-block btn-rounded" href="add_events" role="button">Добавить новое
                        мероприятие</a>
                    <p class="my-3">Количество посещенных мероприятий: {{ events_count }} </p>
                    <p class="my-3">Общий рейтинг(автоматический): {{ rate_event }}</p>
                    {% if data_stepic %}
                        <hr>
                        <div class="container row pb-4">
                            <h3 class="font-weight-light">Подготовка к ЕГЭ (11 класс)</h3>
                            <canvas id="myChart" class="col-12"></canvas>
                            <script>
                                var ctx = document.getElementById('myChart').getContext('2d');
                                var myRadarChart = new Chart(ctx, {
                                    type: 'radar',
                                    data: {
                                        labels: ['ЕГЭ 1', 'ЕГЭ 2', 'ЕГЭ 3', 'ЕГЭ 4', 'ЕГЭ 5', 'ЕГЭ 6', 'ЕГЭ 7', 'ЕГЭ 8', 'ЕГЭ 9', 'ЕГЭ 10', 'ЕГЭ 11', 'ЕГЭ 12', 'ЕГЭ 13', 'ЕГЭ 14', 'ЕГЭ 15', 'ЕГЭ 16', 'ЕГЭ 17', 'ЕГЭ 18', 'ЕГЭ 19', 'ЕГЭ 20', 'ЕГЭ 21', 'ЕГЭ 22', 'ЕГЭ 23', 'ЕГЭ 24', 'ЕГЭ 25', 'ЕГЭ 26', 'ЕГЭ 27',],
                                        datasets: [{
                                            data: {{ data_stepic }},
                                            backgroundColor: 'rgba(23, 162, 184, 0.2)',
                                            pointBackgroundColor: 'rgba(23, 162, 184, 1)',
                                            borderColor: ['rgba(23, 162, 184, 1)',],
                                            borderWidth: 2
                                        }]
                                    },
                                    options: {
                                        legend: {
                                            display: false,
                                            labels: {
                                                boxWidth: 0,
                                            }
                                        },
                                        title: {
                                            display: true,
                                            fontSize: 12,
                                            text: 'Диаграмма решенных задач'
                                        }
                                    }
                                });
                            </script>
                        </div>
                        <p class="font-weight-light">Успешно решенных задач: {{ tasks_success }}</p>
                        <p class="font-weight-light">Процент успешности: {{ procent_success }} %</p>
                        <p class="font-weight-light">Количество нерешенных задач: {{ unsolved_tasks }} </p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated {% if procent_success >= 80 %}bg-success{% elif procent_success >= 20 %}bg-warning{% else %}bg-danger{% endif %}"
                                 role="progressbar" style="width: {{ procent_success }}%;"
                                 aria-valuenow="{{ procent_success }}"
                                 aria-valuemin="0" aria-valuemax="100">{{ procent_success }}%

                            </div>

                        </div>
                        <p style="font-size: 10px; text-align: center;" class="font-weight-light text-muted">Решай
                            задачи на <a style="color: #008080"
                                         href="https://stepik.org/lesson/419936/step/1?unit=409514">stepic</a>, чтобы
                            линия всегда была зеленой </p>

                        <div class="container row pb-4">
                            <canvas id="myChart1" class="col-12"></canvas>
                            <script>
                                var ctx = document.getElementById('myChart1').getContext('2d');
                                var chart = new Chart(ctx, {
                                    // The type of chart we want to create
                                    type: 'bar',

                                    // The data for our dataset
                                    data: {
                                        datasets: [{
                                            backgroundColor: [
                                                'rgb(184,106,59)',
                                                'rgb(180,184,47)',
                                                'rgb(95,184,37)',
                                                'rgb(47,184,160)',
                                                'rgb(45,148,184)',
                                                'rgb(71,99,184)',
                                                'rgb(102,74,184)',
                                                'rgb(169,77,184)',
                                                'rgb(184,86,129)',
                                                'rgb(184,114,36)',
                                                'rgb(184,181,17)',
                                                'rgb(104,184,5)',
                                                'rgb(40,184,116)',
                                                'rgb(184,86,127)',
                                                'rgb(123,142,184)',
                                                'rgb(122,184,115)',
                                                'rgb(184,154,99)',
                                                'rgb(107,174,184)',
                                                'rgb(155,184,141)',
                                                'rgb(98,184,102)',
                                                'rgb(143,129,184)',
                                                'rgb(172,157,184)',
                                                'rgb(107,184,106)',
                                                'rgb(122,184,110)',
                                                'rgb(136,184,23)',
                                                'rgb(30,184,113)',
                                                'rgb(184,109,55)',
                                            ],
                                            data: {{ info_all_class }}
                                        }],

                                        // These labels appear in the legend and in the tooltips when hovering different arcs
                                        labels: ['ЕГЭ 1', 'ЕГЭ 2', 'ЕГЭ 3', 'ЕГЭ 4', 'ЕГЭ 5', 'ЕГЭ 6', 'ЕГЭ 7', 'ЕГЭ 8', 'ЕГЭ 9', 'ЕГЭ 10', 'ЕГЭ 11', 'ЕГЭ 12', 'ЕГЭ 13', 'ЕГЭ 14', 'ЕГЭ 15', 'ЕГЭ 16', 'ЕГЭ 17', 'ЕГЭ 18', 'ЕГЭ 19', 'ЕГЭ 20', 'ЕГЭ 21', 'ЕГЭ 22', 'ЕГЭ 23', 'ЕГЭ 24', 'ЕГЭ 25', 'ЕГЭ 26', 'ЕГЭ 27',],

                                    },

                                    // Configuration options go here
                                    options: {
                                        title: {
                                            display: true,
                                            fontSize: 12,
                                            text: 'Решения задач по классу'
                                        },
                                        legend: {
                                            display: false,
                                            labels: {
                                                boxWidth: 0,
                                            }
                                        }
                                    }
                                });
                            </script>
                        </div>
                    {% endif %}
                    {% if user.is_superuser %}
                        <form method="post">{% csrf_token %}
                            <input type="text" class="form-control" name="update_file_csv" value=""
                                   placeholder="Ссылка на stepic"/>
                            <br>
                            <button class="btn btn-success mb-3">Обновить информацию пользователей</button>
                        </form>
                    {% endif %}

                {% elif puples.status == "APP" and puples.applicant_progress < 100 %}
                    <hr><p class="font-weight-light my-4">Промежуточный результат отборочного
                    этапа: {{ puples.applicant_first_result }}
                    баллов</p>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped bg-info progress-bar-animated" role="progressbar"
                             aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
                             style="width:{{ puples.applicant_progress }}%"></div>
                    </div>
                    <div class="row mt-2">
                        <div class="col">
                            <p class="font-weight-light">Тестирование 15 мая 2021</p>
                        </div>
                        <div class="col d-xl-block d-sm-none d-none">
                            <p class="font-weight-light">Анализ итоговых оценок</p>
                        </div>
                        <div class="col">
                            <p class="font-weight-light">Собеседование</p>
                        </div>
                        <div class="col d-xl-block d-sm-none d-none">
                            <p class="font-weight-light">Средний балл аттестата</p>
                        </div>
                        <div class="col">
                            <p class="font-weight-light">Результат отбора</p>
                        </div>
                    </div>
                    {% if puples.applicant_progress == 50 %}
                        <h3 class="font-weight-light">Собеседование</h3>
                        {% if app.check is False %}
                            <p class="font-weight-light text-uppercase text-danger">Участие не подтверждено</p>
                        {% else %}<p class="font-weight-light text-uppercase text-success">Участие подтверждено</p>
                        {% endif %}
                        <hr>
                        <p class="font-weight-light">Время собеседования 15 минут</p>
                        <p class="font-weight-light">До собеседования вспомни все олимпиады, конкурсы и конференции в
                            которых ты
                            участвовал в
                            9 классе, подготовь подтверждающие документы участия или победы (можно в электронном
                            варианте).
                            Подготовь свой паспорт для подтверждения своей личности.</p>

                        <p class="font-weight-light">Если ты еще не являешься учащимся ГБОУ Школы №1158, то будь готов
                            показать
                            свои оценки по
                            математике и информатике за первое полугодие и год из электронного дневника.</p>
                        <h5 class="font-weight-light">Информация о твоем собеседовании:</h5>
                        <table class="table font-weight-light">
                            <tbody>
                            <tr>
                                <th scope="row">Время:</th>
                                <td>{{ app.date }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Дата:</th>
                                <td>{{ app.time }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Место проведения:</th>
                                <td>{{ app.login }}</td>
                            </tr>
                            </tbody>
                        </table>
                        <p class="font-weight-light">Если ты со всем ознакомился, нажми "подтвердить участие в
                            собеседовании",
                            чтобы мы знали о серьезности твоих намерений поступить в ИТ-класс</p>
                        <p class="font-weight-light">Если ты передумал поступить в ИТ-класс напиши нам об этом на почту
                            admin@it-class.site</p>
                        {% if app.check is False %}
                            <form method="post">{% csrf_token %}
                                <input type="hidden" name="check" value="True"/>
                                <button class="btn btn-success mb-3">Подтвердить участие в собеседовании</button>
                            </form>
                        {% endif %}
                    {% elif puples.applicant_progress == 75 %}
                        <h3 class="font-weight-light">Подсчет результатов</h3>
                        <hr>
                        <p class="font-weight-light">Ты прошел этап собеседование, очень скоро мы посчитаем твои
                            баллы.</p>
                        <p class="font-weight-light">Балл мог уже измениться, т.к. мы добавили баллы за успеваемость по
                            профильным предметам в 9 классе.</p>
                        <br>
                        <h5 class="font-weight-light">29 мая 2020 года мы подведем итог твоего собеседования.</h5>


                    {% endif %}

                {% elif puples.applicant_progress == 100 %}
                    <hr><p class="font-weight-light my-4">Окончательный результат отборочного
                    этапа: {{ puples.applicant_first_result }}
                    баллов</p>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped bg-success progress-bar" role="progressbar"
                             aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
                             style="width:{{ puples.applicant_progress }}%"></div>
                    </div>
                    <div class="row mt-2">
                        <div class="col">
                            <p class="font-weight-light">Тестирование 14 мая 2020</p>
                        </div>
                        <div class="col d-xl-block d-sm-none d-none">
                            <p class="font-weight-light">Анализ итоговых оценок</p>
                        </div>
                        <div class="col">
                            <p class="font-weight-light">Собеседование</p>
                        </div>
                        <div class="col d-xl-block d-sm-none d-none">
                            <p class="font-weight-light">Средний балл аттестата</p>
                        </div>
                        <div class="col">
                            <p class="font-weight-light">Результат отбора</p>
                        </div>
                    </div>
                    {% if puples.applicant_first_result > 500 %}
                        <script src="https://cdn.jsdelivr.net/gh/mathusummut/confetti.js/confetti.min.js"></script>
                        <script>confetti.start()</script>
                        <h2 class="font-weight-light">{{ puples.name }}, мы тебя поздравляем!</h2>
                        <p class="font-weight-light">Ты успешно прошел(а) все испытания и с этого дня начинается твой
                            нелегкий путь в мир ИТ.</p>
                        <p class="font-weight-light">Мы искренне надеемся, что через два года упорной работы ты получишь
                            тот багаж знаний, который будет хорошим фундаментом в сферу информационных технологий.</p>
                        <p class="font-weight-light">Не бойся ошибаться, потому что эксперт это не тот, кто не совершает
                            ошибок, а тот кто уже совершил все возможные.</p>
                        <hr>
                        <p class="font-weight-light">Не теряй логин и пароль от своего личного кабинета кандидата,
                            потому что уже в августе твой личный кабинет превратится в кабинет ученика 10 ИТ-класса и
                            откроется больше возможностей.</p>
                        <p class="font-weight-light">Если у тебя остались какие-то вопросы пиши нам на почту
                            <a href="mailto:admin@it-class1158.site?subject=Вопрос от {{ puples.surname }} {{ puples.name }}">admin@it-class1158.site</a>
                        </p>
                    {% else %}
                        <h2 class="font-weight-light">{{ puples.name }}, нам очень жаль!</h2>
                        <p class="font-weight-light">К сожалению, твоих баллов не достаточно для
                            поступления в ИТ-класс.</p>
                        <p class="font-weight-light">Спасибо что попробовал свои силы на вступительных испытаниях.</p>
                        <p class="font-weight-light">Не останавливайся на достигнутом и попробуй поступить в другие
                            профильные классы.</p>
                        <p class="font-weight-light">Если тебе понравилась летняя практика ИТ-класса, ты можешь ходить на нее до конца.</p>
                        <p class="font-weight-light">Успехов с поступлением.</p>
                        <hr>
                        <p class="font-weight-light">Если у тебя остались какие-то вопросы пиши нам на почту
                            <a href="mailto:admin@it-class1158.site?subject=Вопрос от {{ puples.surname }} {{ puples.name }}">admin@it-class1158.site</a>
                        </p>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    {% else %}
        <div class="row p-5">
            <div class="col">
                <h1 class="text-center font-weight-light">Сбор данных</h1>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title font-weight-light">Мы обновляем возможности системы и не нашли часть
                            данных по твоему аккаунту, укажи пожалуйста актуальные данные ниже.</h5>
                        <p class="font-weight-light text-muted">Укажите достоверные данные, потому что в основном для
                            оповещения по событиям проекта, мы будем использовать данную систему.</p>
                        <form method="post">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <button type="submit" class="btn btn-info btn-block">Войти</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

<script>
    let puplesDetailChangeEmail = document.querySelector(".puples_detail_change_email"),
        puplesDetailChangeTel = document.querySelector(".puples_detail_change_tel"),
        puplesDetailEmail = document.querySelector(".puples_detail_email"),
        puplesDetailTel = document.querySelector(".puples_detail_tel"),
        puplesDetailChangeTelEditPencil = document.querySelector(".puples_detail_change_tel__edit-pencil"),
        puplesDetailChangeEmailEditPencil = document.querySelector(".puples_detail_change_email__edit-pencil"),
        puplesDetailChangeTelCommitButton = document.querySelector(".puples_detail_change_tel__commit-btn"),
        puplesDetailChangeEmailCommitButton = document.querySelector(".puples_detail_change_email__commit-btn");

    $(puplesDetailChangeEmail).hide();
    $(puplesDetailChangeTel).hide();

    puplesDetailChangeEmailEditPencil.onclick = function () {
        $(puplesDetailChangeEmail).fadeToggle();
    }

    puplesDetailChangeTelEditPencil.onclick = function () {
        $(puplesDetailChangeTel).fadeToggle();
    }


    let change_people_data_url = location.origin + "/statistic/pupil/{{ pk }}/";

    puplesDetailChangeTelCommitButton.onclick = function () {
        let newMobileNumber = puplesDetailChangeTel.querySelector("input[type='tel']").value;

        if (newMobileNumber == "") {
            showAlertElement("Пустое поле номера телефона", false);
        } else if (!/^((8|\+7)[\- ]?)?(\(?\d{3}\)?[\- ]?)?[\d\- ]{9,10}$/.test(newMobileNumber)) {
            // Если не подходит формату email
            showAlertElement("Неправильный формат телефона", false);
        } else {
            let request = getJsonResponseWithRequestData(change_people_data_url + "?edit_data=tel&tel=" + newMobileNumber);
            request.onload = function () {
                if (request.response.message == "success") {
                    showAlertElement("Телефон успешно изменен!", true);
                    puplesDetailTel.textContent = newMobileNumber;
                    $(puplesDetailChangeTel).fadeOut();
                } else {
                    showAlertElement(request.response.message, false);
                }
            }
        }

    }

    puplesDetailChangeEmailCommitButton.onclick = function () {
        let newEmail = puplesDetailChangeEmail.querySelector("input[type='email']").value;


        if (newEmail == "") {
            showAlertElement("Пустое поле почты", false);
        } else if (!/^([a-z0-9_-]+\.)*[a-z0-9_-]+@[a-z0-9_-]+(\.[a-z0-9_-]+)*\.[a-z]{2,6}$/.test(newEmail)) {
            // Если не подходит формату email
            showAlertElement("Неправильный формат почты", false);
        } else {
            let request = getJsonResponseWithRequestData(change_people_data_url + "?edit_data=email&email=" + newEmail);
            request.onload = function () {
                if (request.response.message == "success") {
                    showAlertElement("Почта успешно изменена!", true);
                    puplesDetailEmail.textContent = newEmail;
                    $(puplesDetailChangeEmail).fadeOut();
                } else {
                    showAlertElement(request.response.message, false);
                }
            }
        }
    }

</script>
{% endblock %}