{% extends 'base.html' %}

{% load static %}

{% block main %}
    <script src="https://kit.fontawesome.com/65f48fc481.js" crossorigin="anonymous"></script>
    <style>
        .product-card {
            height: 100%;
            border-radius: 10px;
            -webkit-box-shadow: 0 0 0 1px rgba(13,35,67,.07),0 5px 15px -4px rgba(13,35,67,.4);
            -moz-box-shadow: 0 0 0 1px rgba(13,35,67,.07),0 5px 15px -4px rgba(13,35,67,.4);
            box-shadow: 0 0 0 1px rgba(13,35,67,.07),0 5px 15px -4px rgba(13,35,67,.4);
        }

        .product-card.disabled-card {
            -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
            -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
            box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
        }

        .product-card.disabled-card img {
            transform: scale(0.99);
        }

        .product-card.disabled-card {
            opacity: 0.4;
        }

        .product-card img {
            padding: 30px 0;
            width: 90%;
        }

        .product-card__description {
            padding: 30px;
        }

        .product-card__description__name {
            margin-bottom: 20px;
            font-size: 20px;
        }

        .product-card__description p {
            margin: 0;
        }

        .product-card .btn:hover .spinner-grow {
            color: #fff !important;
        }
    </style>

    <div class="messages-container" style="position:fixed;width: 85%;top: 4%; left: 7.5%; z-index: 9999">

    </div>

    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="mt-4" style="font-size: 45px;font-weight: 400;letter-spacing: 0.04em;margin-top: 20px;">
                    Баланс: {{ user.puples.rate }}</h2>
            </div>
        </div>
        <div class="row flex-wrap">
            {% for product in marketproduct_list %}
            <div class="col-12 col-md-6 col-lg-4 my-4">
                <div class="product-card text-center justify-content-center {% if product.remained_amount == 0 or product.price > user.puples.rate %}disabled-card{% endif %}">
                    <img src="{{ product.product_photo.url }}" alt="{{ product.product_name }}">
                    <div class="product-card__description">
                        <h3 class="product-card__description__name">{{ product.product_name }}</h3>
                        <p style="color: rgb(128, 128, 128); text-align: left"><span style="color: rgb(50, 50, 50);">Размер:</span> {{ product.product_size }}</p>
                        <p style="color: rgb(128, 128, 128); text-align: left"><span style="color: rgb(50, 50, 50);">Цвет:</span> {{ product.product_color }}</p>
                        <p style="color: rgb(128, 128, 128); text-align: left"><span style="color: rgb(50, 50, 50);">Осталось:</span> {{ product.remained_amount }} шт.</p>
                    </div>

                    <p style="font-size: 18px;font-weight: bold;">{{ product.price }} {{ product.plural_amount_name }}</p>

                        <button data-product-id="{{ product.id }}" {% if product.remained_amount == 0 or user.puples.rate < product.price %}style="visibility: hidden;"{% endif %} onclick="addToCart(this)" class="btn btn-outline-success {% if product in shopping_cart_list %}added-to-card-btn{% endif %}" aria-haspopup="true" aria-expanded="false" style="margin-bottom: 20px">
                           {% if product in shopping_cart_list %}
                               <i class="fas fa-check"></i> В корзине
                           {% else %}
                            В корзину
                           {% endif %}
                        </button>

                </div>
            </div>
            {% empty %}
                <div class="col-12 text-center">
                    <h3 style="font-weight: 300;">Товаров пока нет</h3>
                </div>
            {% endfor %}
        </div>
    </div>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{% static 'js/market_main_file.js' %}"></script>
    <script>

    function addToCart (btn)
    /* Добавляет товар в корзину, если его там еще нет, иначе его удаляет */
    {
        if (btn.classList.contains("added-to-card-btn")) {  // Если уже добавлен товар в корзину, то он удаляется
            btn.innerHTML = 'Удаляется <div class="spinner-grow text-success" style="height: 1em;width: 1em;" role="status"></div>';
            let request = getJsonResponseWithRequestData(location.origin + '/market/shopping-cart_operations/?remove_product=' + btn.dataset.productId);
            request.onload = function ()
            {
                if (request.response.message != "success") // Если сервер выдал сообщение с ошибкой
                {
                    btn.innerHTML = '<i class="fas fa-check"></i> В корзине';
                    showAlertElement(request.response.message);
                }
                else
                {
                    showAlertElement("Товар успешно удален из корзины", success=true);
                    btn.innerHTML = 'В корзину';
                    btn.classList.remove("added-to-card-btn");
                }
            }
        }
        else // Если товара еще нет в корзине, то надо его добавить
        {
            btn.innerHTML = 'Добавляется <div class="spinner-grow text-success" style="height: 1em;width: 1em;" role="status"></div>';
            let request = getJsonResponseWithRequestData(location.origin + '/market/shopping-cart_operations/?add_product=' + btn.dataset.productId);
            request.onload = function ()
            {
                if (request.response.message != "success")  // Если сервер выдал сообщение с ошибкой
                {
                    btn.innerHTML = 'В корзину';
                    showAlertElement(request.response.message);
                }
                else
                {
                    showAlertElement("Товар успешно добавлен в корзину", success=true);
                    btn.innerHTML = '<i class="fas fa-check"></i> В корзине';
                    btn.classList.add("added-to-card-btn");
                }
            };
        }
    }
    </script>
{% endblock %}

{% block market_active %} active{% endblock %}
