{% extends "base.html" %}
{% block main %}
    {% load static %}
    <div class="container py-3">
        <h2 class="text-left font-weight-light">Проверка заданий на классы 'class_v1'</h2>
        <hr>
        <ol class="font-weight-light">
            <li>Напишите класс TrafficLights, который при вызове метода red_light печатает слово "red".</li>
            <li>Напишите класс кнопки Button, экземпляры которого будут измерять количество нажатий на кнопку-объект.
                Метод click увеличивает количество нажатий, метод click_count возвращает число нажатий. Метод reset
                обнуляет количество нажатий.
            </li>
            <li>Напишите класс Balance для описания весов с двумя чашами. На левую и правую чашу объекта будут
                добавляться грузы с различным весом, ваша задача определить положение чаш. Метод add_right принимает
                целое число — вес, положенный на правую чашу весов, add_left — на левую чашу. Метод result должен
                возвращать символ =, если вес на чашах одинаковый, R — если перевесила правая, L — если перевесила
                левая.
            </li>
            <li>Напишите класс OddEvenSeparator, в который можно добавлять числа, получая потом отдельно чётные и
                нечётные. Числа добавляются в объект с помощью метода add_number. Методы even и odd должны возвращать
                списки чётных и нечётных чисел соответственно. Числа в списке должны идти в том же порядке, что и при
                добавлении в объект.
            </li>
        </ol>
        <br>
        <h5 class="font-weight-light">Обратите внимание, что для получения результатов необходимо проверить корректность вашего email в данной системе</h5>
        <form method="post">{% csrf_token %}
            <input type="text" class="form-control" name="git" value=""
                   placeholder="Ссылка на репозиторий git"/>
            <br>
            <button class="btn btn-success mb-3">Отправить на проверку</button>
        </form>

    </div>
{% endblock %}
{% block detail_active %} active{% endblock %}