{% extends  'base.html' %}
{% load static %}
{% block main %}
    <div class="container h-100">
        <h2 class="text-left font-weight-light pt-3">ХАКАТОН 1-11 МАЯ 2020</h2>
        <hr>
        <h5 class="font-weight-light">ТЕМА ХАКАТОНА: «ДИСТАНЦИОННОЕ ОБУЧЕНИЕ»</h5>
        <br>
        <p class="font-weight-light">Для альтернативной защиты темы по программированию «Функции» в период с 1 по 11 мая
            вы можете создать любой общедоступный продукт (web-приложение, web-сайт, desktop application(для доступных
            платформ), игра, web-игра, мобильное приложение и.т.д.) соответствующий тематике хакатона.</p>

        <p class="font-weight-light">КРИТЕРИИ ОЦЕНИВАНИЯ:
        <ol class="font-weight-light">
            <li>Продукт должен быть общедоступным для любого участника образовательного процесса</li>
            <li> Продукт должен решать, какую-либо проблему связанную с дистанционной формой образования</li>
            <li>Продукт должен быть полезен для целевой аудитории</li>
            <li>Продукт должен содержать интуитивно-понятный интерфейс или инструкцию по применению.</li>
            <li>Продукт должен быть продуктом Opensource (иметь возможность изменять функционал сторонними
                разработчиками)
            </li>
            <li> Код продукта должен быть доступен на открытых платформах github или др.</li>
        </ol>
        </p>
        <p class="font-weight-light">ТЕХНИЧЕСКАЯ СТОРОНА ОЦЕНИВАНИЯ:
        <ol class="font-weight-light">
            <li>В коде продукта должно использоваться не менее 5 функций написанные самостоятельно.</li>
            <li>Функции должны иметь возможность принимать любое количество позиционных аргументов</li>
            <li>Название функций должны соответствовать функциональности.</li>
            <li>Минимум 1 функция должна иметь возможность принимать любое количество собственных именованных
                аргументов
            </li>
            <li>Минимум в 1 функции должны быть использованы значения по умолчанию</li>
            <li>Минимум 1 функция должна использовать значение возвращаемое другой самостоятельной функцией</li>
            <li>Не одна функция не должна менять значения глобальных переменных</li>
        </ol>
        </p>

        <p class="font-weight-light">ПРАВИЛА УЧАСТИЯ:</p>
        <ol class="font-weight-light">
            <li>В срок до 2 мая (включительно) до 23.59 заполнить форму с регистрацией команды (не более 3 человек) и
                продукта нажав на
                кнопку "ЗАРЕГИСТРИРОВАТЬ КОМАНДУ"
            </li>
            <li>4 мая в течении дня, минимум один человек из команды (возможно команда целиком) пройти первый этап
                защиты
                идеи продукта.
            </li>
            <li>10 мая в течении дня пройти второй этап защиты готового продукта.</li>
            <li>В период с 11-15 мая представить, в назначенное команде время, продукт перед аудиторией (дистанционно),
                предоставить возможность использования продукта.
            </li>
        </ol>
        </p>
        <hr>
        <h3 class="font-weight-light">ПРОШЛА РЕГИСТРАЦИЯ КОМАНД</h3>
        <br>

        <p class="font-weight-light">7 команд приняли участие в хакатоне "Дистанционное обучение". У ребят впереди не
            простая задача, за несколько дней создать готовый продукт, который сможет облегчить жизнь всем участникам
            образовательного процесса.</p>

        <p class="font-weight-light">Название 7 команд и их продуктов, которые успешно прошли первый этап
            регистрации:</p>
        <ul class="font-weight-light">
            <li><h5 class="font-weight-light">Номер 1</h5>
                <p>Языки на 5: Систематизация правил русского и английского языка</p></li>
            <li><h5 class="font-weight-light">Солнышко</h5>
                <p>Проект «Солнышко»: Помочь школьникам и учителям на время отвлечься от сложного учебного процесса.</p>
            </li>
            <li><h5 class="font-weight-light">Хахатон</h5>
                <p>Карантин-Бот: Проблема скуки во время карантина</p></li>
            <li><h5 class="font-weight-light">After Hours</h5>
                <p>Учиться здорово: Помощь в дистанционном обучении, мы хотим сделать учёбу более комфортной и
                    удобной</p></li>
            <li><h5 class="font-weight-light">Название команды</h5>
                <p>Расчёт времени: Подготовка к дистанционному уроку</p></li>
            <li><h5 class="font-weight-light">Казанцев Евгений 6Б</h5>
                <p>Дневничок: 1) облегчить коммуникацию между учениками и учителями, 2) упростить д.з.</p></li>
            <li><h5 class="font-weight-light">Одинокий ковбой</h5>
                <p>Фьюч: попробовать завлечь учеников, предоставить стимул к выполнению домашнего задания и участия в
                    дистанционных уроках</p></li>
        </ul>
        <p class="font-weight-light">Следующий этап для команд-участников 4 мая, где только команда и эксперты
            встретятся на онлайн-предзащите в
            Zoom.</p>

        <hr>
        <h3 class="font-weight-light text-uppercase">Первая предзащита 4 мая</h3>
        <br>
        <p class="font-weight-light">Команды которые подтвердили время участия в онлайн-конференции:</p>
        <table class="table text-center">
            <tr>
                <th>Название команды</th>
                <th>Время предзащиты</th>
                <th>Получено подтверждение</th>
            </tr>
            <tr>
                <td>Команда номер 1</td>
                <td>13:00</td>
                <td><img class="img-fluid" style="width: 25px;" src="{% static '/images/interface-2.png' %}"></td>
            </tr>
            <tr>
                <td>Солнышко</td>
                <td>13:08</td>
                <td><img class="img-fluid" style="width: 25px;" src="{% static '/images/interface-2.png' %}"></td>
            </tr>
            <tr>
                <td>хахатон</td>
                <td>13:16</td>
                <td><img class="img-fluid" style="width: 25px;" src="{% static '/images/interface-2.png' %}"></td>
            </tr>
            <tr>
                <td>After Hours</td>
                <td>13:24</td>
                <td><img class="img-fluid" style="width: 25px;" src="{% static '/images/interface-2.png' %}"></td>
            </tr>
            <tr>
                <td>название команды</td>
                <td>13:32</td>
                <td><img class="img-fluid" style="width: 25px;" src="{% static '/images/interface-2.png' %}"></td>
            </tr>
            <tr>
                <td>Казанцев Евгений 6Б</td>
                <td>13:40</td>
                <td><img class="img-fluid" style="width: 25px;" src="{% static '/images/interface-2.png' %}"></td>
            </tr>
            <tr>
                <td>Одинокий ковбой</td>
                <td>13:48</td>
                <td><img class="img-fluid" style="width: 25px;" src="{% static '/images/signs.png' %}"></td>
            </tr>
        </table>
        <br>
        <hr>
        <h3 class="font-weight-light text-uppercase">Вторая предзащита 10 мая</h3>
        <br>
        <p class="font-weight-light">Команды которые подтвердили время участия в онлайн-конференции:</p>
        <table class="table text-center">
            <tr>
                <th>Название команды</th>
                <th>Время предзащиты</th>
                <th>Получено подтверждение</th>
            </tr>
            <tr>
                <td>Команда номер 1</td>
                <td>13:00</td>
                <td><img class="img-fluid" style="width: 25px;" src="{% static '/images/interface-2.png' %}"></td>
            </tr>
            <tr>
                <td>Солнышко</td>
                <td>13:20</td>
                <td><img class="img-fluid" style="width: 25px;" src="{% static '/images/interface-2.png' %}"></td>
            </tr>
            <tr>
                <td>хахатон</td>
                <td>13:40</td>
                <td><img class="img-fluid" style="width: 25px;" src="{% static '/images/interface-2.png' %}"></td>

            </tr>
            <tr>
                <td>After Hours</td>
                <td>14:00</td>
                <td><img class="img-fluid" style="width: 25px;" src="{% static '/images/interface-2.png' %}"></td>
            </tr>
            <tr>
                <td>название команды</td>
                <td>14:20</td>
                <td><img class="img-fluid" style="width: 25px;" src="{% static '/images/signs.png' %}"></td>
            </tr>
            <tr>
                <td>Казанцев Евгений 6Б</td>
                <td>14:40</td>
                <td><img class="img-fluid" style="width: 25px;" src="{% static '/images/interface-2.png' %}"></td>
            </tr>
            <tr>
                <td>Одинокий ковбой</td>
                <td>15:00</td>
                <td><img class="img-fluid" style="width: 25px;" src="{% static '/images/signs.png' %}"></td>
            </tr>
        </table>
        <br>
        <hr>

        <h3 class="font-weight-light text-uppercase">Партнеры хакатона</h3>
        <p class="font-weight-light">Наш хакатон решили поддержать две организации:</p>
        <a href="https://htmlacademy.ru/"><h5 class="font-weight-light"> Онлайн платформа HTMLAcademy</h5></a>
        <a href="https://skillbox.ru"><h5 class="font-weight-light"> Онлайн-университет Skillbox</h5></a>

        <p class="font-weight-light">Напоминаем, что завтра у наших команд заключительный этап защиты конечного
            продукта.
            И уже совсем скоро вы сможете посмотреть готовые продукты, которые готовили ребята на протяжении всех этих
            дней.
            На представлении продукта может присутствовать любой желающий. Ссылки на онлайн-конференции выложим после
            защиты.</p>

        <p class="font-weight-light"> Представление готовых продуктов будет проходить с 11-15 мая.
            И 15 мая в 18.00 мы подведем итоги нашего хакатона на церемонии награждения.</p>

        <br>
        <hr>
        <h3 class="font-weight-light text-uppercase">ЭТАПЫ ПРОХОЖДЕНИЯ ХАКАТОНА</h3>

        <img class="img-fluid mx-3" src="{% static '/images/hacaton.png' %}">
    </div>
{% endblock %}
{% block detail_active_hach %} active{% endblock %}
