{% extends "base.html" %}
{% block main %}
{% load static %}
<div class="container-fuild py-3">
    <h2 class="text-center font-weight-light">Интенсив-Python 6-9 марта</h2>
    <h4 class="text-center font-weight-light">Казань 2020г.</h4>
    <div class="container-fluid bg-light">
        <h3 class="text-center font-weight-light pt-3">ПРОГРАММА КУРСА</h3>
        <ul class="font-weight-light py-3">
            <li>Начало работы c языком программирования Python в среде разработки Wing IDE</li>
            <li>Знакомство с тестирующей системой PCMS</li>
            <li>Введение в Python</li>
            <li>Переменные</li>
            <li>Базовое операции и операторы в Python</li>
            <li>Списки</li>
            <li>Двумерные списки</li>
            <li>Введение в основы ООП. Концепции, принципы и примеры реализации</li>
            <li>Побитовые операции. Двоичное представление числ</li>
            <li>Создание анимации с использованием Python</li>
        </ul>
    </div>
    <div class="container-fluid">
        <h3 class="text-center font-weight-light">ОТПРАВЛЕНИЕ И ПРИБЫТИЕ</h3>
        <p class="font-weight-light">Отправление из Москвы поездом в 19.00</p>

    </div>

</div>
{% endblock %}
{% block detail_active %} active{% endblock %}